.card-background-page {

    ion-card-header {
      position: relative;
      text-align: left;
      color: darkgreen;
    };
    .p {
      position: relative;
      text-align: left;
      
    };
};